# MongoDB
MONGODB_URI=

# JWT
JWT_SECRET=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

# Email (Nodemailer)
EMAIL_USER=
EMAIL_PASS=

# Redemption
REDEMPTION_EXPIRY_MINUTES=15

# URL base de la app
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/
